<nav class="[ c-navigation-main ] u-spacers  o-l__f-row-justify-end">
  <span class="u-space">
    <%= link_to "About", '/', title: "", :class => "c-navigation-main__link"  %>
  </span>
  <span class="u-space">
    <a href="" class="c-navigation-main__link">Work</a>
  </span>
  <span class="u-space">
    <a href="" class="c-navigation-main__link">Contact</a>
  </span>
  <span class="u-space">
    <a href="" class="c-navigation-main__link--icon c-navigation-main__link"><i class="fab fa-twitter"></i></a>
  </span>
</nav>