    </article>

    <div class="u-space-lg l__f-align-center">
      <%= link_to work_path, class: 'c-button c-button-icon' do %>
        <i class="c-button-icon__icon fa fa-arrow-left"></i>
        <span class="c-button-icon__text">Browse Work</span>
      <% end %>
    </div>
  </div>