<% content_for :body_class, "work-single " %>
<% content_for :title, "" %>
<% content_for :description, "" %>

<%= render 'shared/work_before' %>


      <header class="c-work-single__header u-spacers">
        <div class="u-space-md">
          <span class="c-article__page-topper">IZO Photography</span>
        </div>
        <div class="u-space-stack-lg">
          <h1 class="c-work-single__title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h1>
          <section class="c-work-single__description">
            <p>Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <a class="c-article__link-alone" href="" title=""></a>
          </section>
        </div>

        <div class="u-space-md">
          <!-- Banner Image -->
        </div>
      </header>


      <main class="c-work-single__main u-spacers">
      </main>


<%= render 'shared/work_after' %>