<% content_for :body_class, "work-single " %>
<% content_for :title, "" %>
<% content_for :description, "" %>

<%= render 'shared/work_before' %>


      <header class="c-work-single__header u-spacers">
        <div class="u-space-md">
          <span class="c-article__page-topper">Wintec Saddles</span>
        </div>
        <div class="u-space-stack-lg">
          <h1 class="c-work-single__title">The World’s Number One Synthetic Saddle.</h1>
          <section class="c-work-single__description">
            <p>I've been working with the team at Bates Australia since 2013</p>
            <a class="c-article__link-alone" href="" title=""></a>
          </section>
        </div>

        <div class="u-space-md">
          <!-- Banner Image -->
        </div>
      </header>


      <main class="c-work-single__main u-spacers">
      </main>


<%= render 'shared/work_after' %>