
<div class="frow">
  <div class="col-md-1-2">

  <div class="u-spacers [ c-article ]">

    <section class="u-space">

      <h1>Site Build Rules</h1>
      <ol>
        <li>Follow <a href="https://www.nasa.gov/sites/default/files/atoms/files/nasa_graphics_manual_nhb_1430-2_jan_1976.pdf" title="NASA Graphics Standards Manual 1976 PDF">NASA 1976 Style Guide</a></li>
        <li>No media queries, only intrinsic design</li>
        <li>Adhere to accesibility standards</li>
      </ol>

      <header>
        <h1>See fish. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, but you have to scare them out. You can spend all day playing with mountains.</h1>
        <h2>See. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, but you have to scare them out. You can spend all day playing with mountains.</h2>
        <h3>See. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, but you have to scare them out. You can spend all day playing with mountains.</h3>
        <h4>See. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, but you have to scare them out. You can spend all day playing with mountains.</h4>
        <h5>See. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, but you have to scare them out. You can spend all day playing with mountains.</h5>
      </header>

      <div class="c-article__text">
        <h2>See. We take the corner of the brush and let it play back-and-forth.</h2>
        <p>See. We take the corner of the brush and let it play back-and-forth. Put it in, leave it alone. Trees live in your fan brush, <strong>but you have to scare them out</strong>. You can spend all day playing with mountains.</p>
        <p>And right there you got an almighty cloud. <a href="#">Son of a gun</a>. Just go back and put one little more happy tree in there.</p>
        <p>Let's put some highlights on these little trees. The sun wouldn't forget them. You can't make a mistake. Anything that happens you can learn to use - and make something beautiful out of it.
        <h3>A level three header.</h3>
        <p>Let's put some highlights on these little trees. The sun wouldn't forget them. You can't make a mistake. Anything that happens you can learn to use - and make something beautiful out of it. In nature, dead trees are just as normal as live trees. There is immense joy in just watching - watching all the little creatures in nature. For the lack of a better word I call them hangy downs.<i class="fa fa-arrow-down" data-fa-transform="rotate--45"></i></p>
      </div>

    </section>

    <div class="frow">

      <div class="u-space">
        <a href="#" class="[ c-button ]">
          Button
        </a>
      </div>

      <div class="u-space">
        <a href="#" class="[ c-button c-button-icon ]">
          <i class="[ c-button-icon__icon ] fa fa-arrow-up"></i>
          <span class="c-button-icon__text">Button Icon</span>
        </a>
      </div>

      <div class="u-space">
        <a href="#" class="[ c-button c-button-icon ]">
          <i class="[ c-button-icon__icon ] fa fa-arrow-down"></i>
          <span class="c-button-icon__text">Button Icon <br>Two Lines</span>
        </a>
      </div>

    </div>

  </div>


  <div style="background: grey;" class="u-spacers">
    <div style="border: 1px dotted white;" class="u-space">
      <div style="background: lightgrey;">.u-space</div>
    </div>
    <div style="border: 1px dotted white;" class="u-space-md">
      <div style="background: lightgrey;">.u-space-md</div>
    </div>
    <div style="border: 1px dotted white;" class="u-space-lg">
      <div style="background: lightgrey;">.u-space-lg</div>
    </div>
    <div style="border: 1px dotted white;" class="u-space-stack">
      <div style="background: lightgrey;">.u-space-stack</div>
      <div style="background: lightgrey;">.u-space-stack</div>
      <div style="background: lightgrey;">.u-space-stack</div>
    </div>
    <div style="border: 1px dotted white;" class="u-space-full-row">
      <p style="background: lightgrey;">This fills out the margin to touch the .u-spacers limit</p>
      <div style="background: lightgrey;">.u-space-stack</div>
      <div style="background: lightgrey;">.u-space-stack</div>
      <div style="background: lightgrey;">.u-space-stack</div>
    </div>
  </div>

  </div>
</div>