

<div class="o-l__g-2-col">

  <div class="[ c-space-guy ] u-spacers" style="background: #0e0e0e;">
  </div>

  <div class="o-l__f-2-row">

    <nav class="[ c-navigation-main ] u-spacers  o-l__f-row-justify-end">
      <span class="u-space">
        <a href="" class="c-navigation-main__link">About</a>
      </span>
      <span class="u-space">
        <a href="" class="c-navigation-main__link">Work</a>
      </span>
      <span class="u-space">
        <a href="" class="c-navigation-main__link">Contact</a>
      </span>
      <span class="u-space">
        <a href="" class="c-navigation-main__link--icon c-navigation-main__link"><i class="fab fa-twitter"></i></a>
      </span>
    </nav>

    <section class="c-article o-l__f-2-row-1   o-l__f-col-justify-end"> 

      <header class="u-spacers">
        <div class="u-space-stack-md u-max-width-copy">
          <span>Jake Rodriguez-Gonzales</span>
          <h1>The web is simple when you think of humans coming first.</h1>
        </div>
      </header>

      <div class="u-spacers u-negative--blue u-width-100">

        <div class="u-space-stack-md u-spacers u-max-width-copy">
          <p>I’m a <strong>frontend designer</strong> with a drive for user experiences. I like to work with small to medium sized businesses to help them take steps forward.<i class="[ c-button-icon__icon ] fa fa-arrow-down" data-fa-transform="rotate--45"></i></p>
        </div>

        <div class="u-space-lg">
          <a href="#" class="[ c-button c-button-icon ]">
            <i class="[ c-button-icon__icon ] fa fa-arrow-down"></i>
            <span class="[ c-button-icon__text ]">Skills</span>
          </a>
        </div>

      </div>

    </section>

    <div class="o-l__f-2-row-2 u-negative--blue"></div>



  </div>

</div>


