

<div class="o-l__g-fluid-100vh">

  <div class="[ c-deep-space ] u-l__f-center">

    <div class="[ c-space-walker c-deep-space__space-walker ]">
      <div class="[ c-space-walker__umbilical c-deep-space__umbilical ]">
        <div class="[ c-umbilical__cable ]"></div>
      </div>
      <div class="[ c-space-walker__astronaut c-deep-space__astronaut ]">
        <div class="[ c-astronaut__suit ]"></div>
        <div class="[ c-astronaut__visor ]">
          <div class="[ c-visor__stars ]"></div>
        </div>
      </div>
    </div>

    <div class="[ c-deep-space__stars ]"></div>
  </div>

  <div class="o-l__f-2-row">

    <%= render 'shared/nav_main' %>

    <section class="c-article o-l__f-2-row-1   o-l__f-col-justify-start"> 

      <header class="u-spacers">
        <div class="u-space-stack-md u-max-width-copy">
          <span>Jake Rodriguez-Gonzales</span>
          <h1>The web is simple when you think of humans coming first.</h1>
        </div>
      </header>

      <div class="u-spacers u-negative u-negative--blue u-width-100" style="flex: 1;">

        <div class="u-space-stack-md u-spacers u-max-width-copy">
          <p>I’m a <strong>frontend designer</strong> with a drive for user experience design and creating tools. I like to work with small to medium sized businesses to help them take small steps forward.</p>
          <p>For the last 7 years I've been running a small design agency and building Wordpress sites; from research, planning, and design, all the way through to development and launch.</p>
          <p>Now I'd like to spend more time in the suit, less time at mission control.</p>
        </div>

        <div class="u-space-lg">
          <%= link_to skills_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-down"></i>
            <span class="[ c-button-icon__text ]">Skills</span>
          <% end %>
        </div>

      </div>

    </section>

    <div class="o-l__f-2-row-2 u-negative--blue"></div>

  </div>

</div>


