

<div class="o-l__g-fluid-100vh">

  <div class="[ c-mugshot ] u-l__f-center">
    <div class="[ c-mugshot__coaster ]">
      <%= image_tag("jakegonzales--astronaut.png", class: "c-mugshot__mug") %>
    </div>
  </div>

  <div class="o-l__f-2-row">

    <%= render 'shared/nav_main' %>

    <section class="c-article o-l__f-2-row-1   o-l__f-col-justify-start"> 

      <header class="u-spacers o-l__f">
        <div class="u-space-md u-max-width-copy">
          <h1 class="h1-blocked-white">Skills Summary</h1>
        </div>
        <div class="u-space-md">
          <%= link_to about_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-up"></i>
            <span class="[ c-button-icon__text ]">About</span>
          <% end %>
        </div>
      </header>

      <div class="u-spacers u-negative--red u-width-100" style="flex: 1;">

        <div class="u-space-stack-md u-spacers u-max-width-copy">

          <h2>Frontend Design</h2>
          <p>CSS3, SCSS and HTML5 put me in orbit,Responsive/Intrinsic Web Design. more JS is on the road map. Wordpress, Advanced Custom Fields,  </p><p> Also enjoying Craft CMS, Ruby on Rails.</p>
          <p>Photoshop, wireframing, Sketch, I have appreciate layer naming etiquette. Design systems</p>
          <p>Adobe Illustrator</p>

          <h2>User Experience Design</h2>
          <p>Making life easier for people is my real passion. Understanding their needs and wants and how best to deliver that to them makes me Buzz.</p>
          <p>I prototype websites with Photoshop, Sketch, and Adobe XD; as well as good old pen and paper. I ask a lot of questions and can’t help but deep dive into what makes a business and it’s clients tick.</p>



        </div>

        <div class="u-space-lg o-l__f-align-center">
          <%= link_to work_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-right"></i>
            <span class="[ c-button-icon__text ]">Browse Work</span>
          <% end %>
        </div>

      </div>

    </section>

    <div class="o-l__f-2-row-2 u-negative--blue"></div>



  </div>

</div>


