<% content_for :body_class, "skills " %>
<% content_for :title, "Skills" %>
<% content_for :description, "A run down of the tools and knowledge I've acquired." %>

<div class="l__g-fluid-100vh">

  <div class="[ c-mugshot ] u-l__f-center">
    <div class="[ c-mugshot__coaster ]">
      <%= image_tag("jakegonzales--astronaut.png", class: "c-mugshot__mug") %>
    </div>
  </div>

  <div class="l__f-2-row">

    <%= render 'shared/nav_main' %>

    <section class="c-article l__f-2-row-1   l__f-col-justify-start"> 

      <header class="u-spacers l__f">
        <div class="u-space-md u-max-width-copy">
          <h1 class="h1-blocked-white">Skills Summary</h1>
        </div>
        <div class="u-space-md">
          <%= link_to about_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-up"></i>
            <span class="[ c-button-icon__text ]">About</span>
          <% end %>
        </div>
      </header>

      <div class="u-spacers u-negative u-negative--red u-width-100" style="flex: 1;">

        <div class="u-space-stack-md u-spacers u-max-width-copy">

          <h2>Frontend Design</h2>
          <p>I build websites with <strong>CSS3</strong>, <strong>SCSS</strong>, <strong>HTML5</strong>, and <strong>responsive design</strong>. I've also started experimenting with <strong>intrinsic design</strong> with <strong>CSS Grid</strong> and <strong>Flexbox</strong>. I don't write a lot of JS but it's on my road map to get stuck into more React and ES6.</p> 
          <p>I predominately use <strong>Wordpress</strong> combined with <strong>Advanced Custom Fields</strong> as my CMS but I've built sites with <strong>Craft CMS</strong> and <strong>Ruby on Rails</strong> as well.</p>
          <p>I design websites with a mixture of <strong>Photoshop</strong>, <strong>Sketch</strong>, and <strong>Illustrator</strong>.</p>

          <h2>User Experience Design</h2>
          <p>I can help with user journey's, card sorting, content/component auditing, and generally designing/improving the experience for the user.</p>
          <p>I prototype websites with <strong>Photoshop</strong>, <strong>Sketch</strong>, and <strong>Adobe XD</strong>; as well as good old pen and paper. I ask a lot of questions and can’t help but deep dive into what makes a business and its clients tick.</p>
          <p>Making life easier for people is my real passion. Understanding their needs and wants and how best to deliver that to them on the web and in the real world makes me Buzz.</p>
          
        </div>

        <div class="u-space-lg l__f-align-center">
          <%= link_to work_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-right"></i>
            <span class="[ c-button-icon__text ]">Browse Work</span>
          <% end %>
        </div>

      </div>

    </section>

    <div class="l__f-2-row-2 u-negative--blue"></div>



  </div>

</div>


