

<div class="o-l__g-fluid-100vh">

  <div class="[ c-mugshot ] u-l__f-center">
    <div class="[ c-mugshot__coaster ]">
      <%= image_tag("jakegonzales--astronaut.png", class: "c-mugshot__mug") %>
    </div>
  </div>

  <div class="o-l__f-2-row">

    <%= render 'shared/nav_main' %>

    <section class="c-article o-l__f-2-row-1   o-l__f-col-justify-start"> 

      <header class="u-spacers o-l__f">
        <div class="u-space-md u-max-width-copy">
          <h1 class="h1-blocked-white">Skills Summary</h1>
        </div>
        <div class="u-space-md">
          <%= link_to about_path, class: '[ c-button c-button-icon ]' do %>
            <i class="[ c-button-icon__icon ] fa fa-arrow-up"></i>
            <span class="[ c-button-icon__text ]">About</span>
          <% end %>
        </div>
      </header>

      <div class="u-spacers u-negative--grey u-width-100" style="flex: 1;">

        <div class="u-space-stack-md u-spacers u-max-width-copy">

          <h2>Graphic Design</h2>

          <h2>Frontend Design</h2>
          <p>I have predominately worked with Wordpress for the past 7 years designing and building websites for small to medium sized businesses’ client needs. I’m happy making interfaces for anything and anyone!</p>
          <p>Photoshop, Sketch, CSS and HTML put me in orbit. I have good layer naming itquette, I like Dieter Rams, and I’m not above making a CSS joke.</p>

          <h2>User Experience Design</h2>
          <p>Designing for people is my real passion. Understanding their needs and wants and how best to deliver that to them makes me Buzz.</p>
          <p>I prototype websites with Photoshop, Sketch, and Adobe XD; as well as good old pen and paper. I ask a lot of questions and can’t help but deep dive into what makes a business and it’s clients tick.</p>

          <h2>Project Management</h2>
          <p>Working with a lot of people can get complicated. Keeping on top of all the project parts is crucial to making sure all critical systems are in check, the budget is in-tact, and the project launches on time. Making sure the team knows what’s a priority doesn’t involve a space pun.</p>
          <p>Kanban boards are one of my favourite things. I really sound like a super nerd when I say that but it’s true.</p>

          <h2>The Technical</h2>
          <p>My my road map to the stars</p>

          <h3>Docked at the ISS</h3>
          <p>CSS, CSS Architecture, Responsive Design, HTML, Adobe Photoshop</p>

          <h3>Low Orbit</h3>
          <p>CSS Frameworks, CSS Animation, SCSS, Worpdress, Sketch, Adobe Illustrator, SVG, UI/UX Design, Adobe Experience Design, Kanban Workflows (Agile)</p>

          <h3>Second Stage Ignition</h3>
          <p>Package Managers, LESS</p>

          <h3>Liftoff</h3>
          <p>Craft CMS, Ruby on Rails</p>

          <h3>Research and Development</h3>
          <p>ES6, Webpack, React</p>

        </div>

        <div class="u-space-lg">

        </div>

      </div>

    </section>

    <div class="o-l__f-2-row-2 u-negative--blue"></div>



  </div>

</div>


