

<div class="o-l__g-2-col">

  <div class="o-l__f-2-row">
    <%= render 'shared/nav_main' %>

    <ol class="o-l-tesseract u-space">

      <li class="o-l-tesseract__obvious poster">

          <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">The World’s Number One Synthetic Saddle: Wintec Saddles.</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Wordpress</li></ul>
            </div>
          </figcaption>

      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers u-ltr">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">
              The most saddle patents globally: Bates Saddles.</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Wordpress</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers u-ltr">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Photographer of the Year: IZO Photography</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Wordpress</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers u-ltr">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Trusted By The Australian Defence Industry: Star International.</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Craft CMS</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Christmas Invite: Macquarie University Hospital</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Over 80 years serving the community: WA Exclusive Meats</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Wordpress</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Pet Welfare Delivered to You When it's Due: My Pet Script</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Ruby on Rails</li></ul>
            </div>
          </figcaption>
      </li>


      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers u-ltr">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Bringing Artwork to Life</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Web</li><li>Animation</li></ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers u-ltr">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Glitched Horror</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Web</li><li>Animation</li></ul>
            </div>
          </figcaption>
      </li>
      
    </ol>

  </div>

  

</div>


