

<div class="o-l__g-2-col">

  <div class="o-l__f-2-row">
    <%= render 'shared/nav_main' %>

    <ol class="o-l-tesseract u-space">

      <li class="o-l-tesseract__obvious poster">

          <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The World’s Number 1 Synthetic Saddle Brand.</h1></a>
            </header>
            <div class="text__body u-space">
              <ul class="c-linear-list"><li>Website</li><li>Wordpress</li></ul>
            </div>
          </figcaption>

      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The No1 Synthetic Saddle</h1></a>
            </header>
            <div class="text__body u-space">
              
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The No1 Synthetic Saddle</h1></a>
            </header>
            <div class="text__body u-space">
              
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster u-rtl">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The No1 Synthetic Saddle</h1></a>
            </header>
            <div class="text__body u-space">
              
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The No1 Synthetic Saddle</h1></a>
            </header>
            <div class="text__body u-space">
              
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster">

        <figure class="poster__image">
            <a href="" title="" style="--aspect-ratio:800/400;">
              <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
            </a>
          </figure>
          <figcaption class="poster__text u-spacers">
            <header class="text__header">
              <a href="" title=""><h1 class="u-space">Wintec: The No1 Synthetic Saddle</h1></a>
            </header>
            <div class="text__body u-space">
              
            </div>
          </figcaption>
      </li>
      
    </ol>

  </div>

  

</div>


