

<div class="o-l__g-2-col">

  <div class="o-l__f-2-row">
    <%= render 'shared/nav_main' %>

   <!--  <pre>
      .o-l-tesseract
        .o-l-tesseract__obvious
        .o-l-tesseract__simple
        .o-l-tesseract__reserved
      .work-item
      .work-item--dark
        .work-item__header
        .work-item__image
        .work-item__desc
      .work-item-nasa
    </pre> -->

    <ol class="o-l-tesseract">

      <li class="o-l-tesseract__obvious poster">
        <figure class="poster__image">
          <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
        </figure>
        <figcaption class="poster__text">
          <h1>Wintec: The No1 Synthetic Saddle</h1>
        </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">
        <figure class="poster__image">
          <img src="https://loremflickr.com/800/400/blackandwhite,animals" alt="Placeholder">
        </figure>
        <figcaption class="poster__text">
          <h1>Wintec: The No1 Synthetic Saddle</h1>
        </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">
        <figure class="poster__image">
          <img src="https://loremflickr.com/800/400/blackandwhite,animals" alt="Placeholder">
        </figure>
        <figcaption class="poster__text">
          <h1>Wintec: The No1 Synthetic Saddle</h1>
        </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster u-rtl">
        <figure class="poster__image">
          <img src="https://loremflickr.com/800/400/design,blackandwhite" alt="Placeholder">
        </figure>
        <figcaption class="poster__text">
          <h1>Wintec: The No1 Synthetic Saddle</h1>
        </figcaption>
      </li>
      
    </ol>

  </div>

  

</div>


