/*------------------------------------*\
  # LAYOUTS

  The aim here is to make a website that is totally
  based in intrinsic design and without breakpoints.
\*------------------------------------*/

/**
 * A two column grid layout used for most of the site.
 */

html,
body {
  height: 100vh;
}
// Object Layout Grid 2 Column
.o-l__g-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  min-height: 100vh;
}

// Object Layout Flexbox 2 Rows
.o-l__f-2-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;  
  justify-content: center;
  align-content: stretch;
}
  
  .o-l__f-2-row-1 {
    margin-top: 20vh;
    flex: 3;
  }

  .o-l__f-2-row-2 {
    flex: auto;
  }


// Object Layout Flexbox Justify End
.o-l__f-col-justify-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.o-l__f-row-justify-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

