/*------------------------------------*\
  # BUTTONS

  Notes:
  I need to make sure that the arrows are 
  only ever the height of the text to keep
  in line with the styleguide.
\*------------------------------------*/

.c-button {
  background: $color__btn;
  color: $color__btn-text;

  font-family: $font__sans-serif;
  font-size: 1.333333333em; // 24px/18px
  font-weight: 700;
  letter-spacing: 0.03em;

  display: inline-flex;
  padding: 0.5em;

  min-width: 200px;
}

.c-button-icon__icon {
  margin-right: 0.5em;
}
