/*------------------------------------*\
  # CODE SNIPPETS
\*------------------------------------*/

.c-code-inline {
  background: $color__code-background;
  border: 1px solid $color__code-border;
  border-radius: 3px;

  color: $color__code-text;
  font-size: 0.9em;

  padding: 0 0.4em;
}