/*------------------------------------*\
  # MUGHOST OF MA FACE MATE
\*------------------------------------*/

.c-mugshot {
  background: $color__black;
  position: relative;


}

  .c-mugshot__coaster {
    background: $color__black;

    box-sizing: border-box;
    padding-top: 60px;
    position: absolute;
    width: 100%;

    overflow: hidden;
  }

  .c-mugshot__mug {
    display: block;
    width: 110%;
    max-width: 900px;
    position: relative;
      right: -5%;

    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }