/*------------------------------------*\
  # SPACE WALKER ASTRONAUT
\*------------------------------------*/

.c-space-walker {
  max-width: 320px;
  position: relative;
}





/*------------------------------------*\
  # ASTRONAUT
\*------------------------------------*/ 
.c-space-walker__astronaut {
  width: 100%;
  max-width: 318px; // Astronaut width also sets suit height
  position: relative;
  z-index: $z-index3-1;
}

  .c-astronaut__suit {
    background: url(moon-walk-faceless--chopped--clear-visor.png) no-repeat top left;
    background-size: contain;
    position: relative;
    z-index: $z-index3-1;

    padding-bottom: 206.918239%; // Aspect ratio for mobile
  }

    .c-astronaut__visor {
      content: "";
      overflow: hidden;
      position: absolute;
        top: 73px;
        left: 105px;
      z-index: $z-index3;
      width: 30%;
      height: 15%;
      border-radius: 50%;

      opacity: 1;

      // animation: emergency-light 1s linear infinite;
    }

      $deep-space-width: 1041px;
      .c-visor__stars {
        background: transparent url(jeremy-perkins-390608-unsplash__tilable.jpg) repeat top left;
        filter: contrast(1.9);

        height: 100%;
        width: $deep-space-width * 7;
        animation: slow-scroll 550s linear infinite;

        position: absolute;
          top: 0;
          left: 0;
      }


// @keyframes emergency-light {
//   0%, 100%{
//     box-shadow: inset 0 0 60px red;
//   }
//   50%{
//     box-shadow: inset 0 0 0px red;
//   }
// }


/*------------------------------------*\
  # UMBILICAL CORD
\*------------------------------------*/
.c-space-walker__umbilical {
  background: url(umbilical-cable.png) no-repeat top left;
  background-size: contain;

  width: 100%;
  max-width: 252px; // Umbilical width also sets cord height
  position: absolute;
    top: -50%;
    left: 75%;
  z-index: $z-index3;
}

  .c-umbilical__cable {
    padding-bottom: 262.947368%; // Aspect ratio for mobile
  }




