/*------------------------------------*\
  # COPY
\*------------------------------------*/

body {
 font-family: $font__sans-serif;
 font-size: 18px;
 color: $color__black;
}

b,
strong {
  font-weight: 600; // Heavy
}

p {
  margin: 0;
}

abbr,
abbr[title] {
  cursor: help;
}

abbr[title] {
  text-decoration: none; // Reset

  border-bottom: 1px dotted $color__black;
}

abbr:hover {
  background: lighten($color__secondary, 30%);
}